name: livealone-test

on:
  push:
    branches: [ develop ]
  pull_request:
    branches:
      - develop

env:
  DOCKER_IMAGE_TAG_NAME: livealone

jobs:
  build-and-docker-push:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17 with OpenJDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew clean build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_TAG_NAME }}:latest

  deploy-to-ec2:
    needs: build-and-docker-push
    runs-on: ubuntu-22.04

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_KEY }}
          script: |
            CONTAINER_ID=$(sudo docker ps -q --filter "publish=8080-8080")
            if [ ! -z "$CONTAINER_ID" ]; then
              sudo docker stop $CONTAINER_ID
              sudo docker rm $CONTAINER_ID
            fi

            sudo docker pull ${{ secrets.DOCKERHUB_USERNAME }}/${{ env.DOCKER_IMAGE_TAG_NAME }}:latest
            sudo docker run -d -p 8080:8080 \
                -e MYSQL_USER=${{ secrets.MYSQL_USER}} \
                -e MYSQL_PASSWORD=${{ secrets.MYSQL_PASSWORD }} \
                -e JWT_SECRET_KEY=${{ secrets.JWT_SECRET_KEY }} \
                -e ACCESS_EXPIRE_TIME=${{ secrets.ACCESS_EXPIRE_TIME }} \
                -e REFRESH_EXPIRE_TIME=${{ secrets.REFRESH_EXPIRE_TIME }} \
                -e SOCIAL_GOOGLE_CLIENT_ID=${{ secrets.SOCIAL_GOOGLE_CLIENT_ID }} \
                -e SOCIAL_GOOGLE_CLIENT_SECRET=${{ secrets.SOCIAL_GOOGLE_CLIENT_SECRET }} \
                -e SOCIAL_NAVER_CLIENT_ID=${{ secrets.SOCIAL_NAVER_CLIENT_ID }} \
                -e SOCIAL_NAVER_CLIENT_SECRET=${{ secrets.SOCIAL_NAVER_CLIENT_SECRET }} \
                -e SOCIAL_KAKAO_CLIENT_ID=${{ secrets.SOCIAL_KAKAO_CLIENT_ID }} \
                -e SOCIAL_KAKAO_CLIENT_SECRET=${{ secrets.SOCIAL_KAKAO_CLIENT_SECRET }} \
                -e MONGO_INITDB_ROOT_USERNAME=${{ secrets.MONGO_INITDB_ROOT_USERNAME }} \
                -e MONGO_INITDB_ROOT_PASSWORD=${{ secrets.MONGO_INITDB_ROOT_PASSWORD }} \
                -e DATABASE_HOST=${{secrets.DATABASE_HOST}} \
                -e SERVER_HOST=${{secrets.SERVER_HOST}} \
                -e FRONT_SERVER_HOST=${{secrets.FRONT_SERVER_HOST}} \
                -e KAKAO_CID=${{secrets.KAKAO_CID}} \
                -e KAKAO_SECRET_KEY=${{secrets.KAKAO_SECRET_KEY}} \
                -e ADMIN_CODE=${{secrets.ADMIN_CODE}} \
                -e DEFAULT_STREAM_KEY=${{secrets.DEFAULT_STREAM_KEY}} \
                -e LOGGING_LEVEL=${{secrets.LOGGING_LEVEL}} \
                -e ADMIN_TOKEN=${{secrets.ADMIN_TOKEN}} \
                -e MAIL_USERNAME=${{secrets.MAIL_USERNAME}} \
                -e MAIL_PASSWORD=${{secrets.MAIL_PASSWORD}} \
                -e MAIL_TIMEOUT=${{secrets.MAIL_TIMEOUT}}
